{% extends 'base-2.html' %}
 
{% block content %}
<div class="container py-4">
          <div class="row gy-5">
            <div class="col-lg-9 order-2 order-lg-1">
              <p class="lead mb-4">Вы можете сменить свои данные на этой странице</p>
              <!-- PROFILE DETAIL FORM-->
              <h3 class="text-uppercase lined">Детали профиля</h3>
            <div class="col-lg-6 mx-auto">
            <h1>Пароль успешно изменен!</h1>

            <p >Вы успешно изменили пароль. <a href="{% url 'users:profile' %}">Вернуться в профиль.</a></p>
                </div>
            </div>
            <div class="col-lg-3 order-1 order-lg-2">
              <h3 class="h4 text-uppercase lined mb-4">Ваш профиль</h3>
              <nav class="nav flex-column nav-pills">
                  <a class="nav-link text-sm" href="{% url 'users:profile' %}"> <i class="me-2 fas fa-user"></i><span>Мой профиль</span></a>
                  <a class="nav-link text-sm active" href="{% url 'users:password_change' %}"> <i class="me-2 fas fa-pen"></i><span>Смена пароля</span></a>
                  <a class="nav-link text-sm" href="#"> <i class="me-2 fas fa-list"></i><span>История заказов</span></a>
                  <a class="nav-link text-sm" href="#"> <i class="me-2 fas fa-heart"></i><span>Список желаний</span></a>
                  <form id="logout-form" action="{% url 'users:logout' %}" method="post" style="display: none;">
                            {% csrf_token %}
                            </form>
                  <a class="nav-link text-sm" href="{% url 'users:logout' %}"
                               onclick="event.preventDefault(); document.getElementById('logout-form').submit();"> <i class="me-2 fas fa-door-open"></i><span>Выход</span></a>
              </nav>
            </div>
          </div>
        </div>

{% endblock %}