{% extends 'base-2.html' %}
{% block content %}
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-6">
            <!-- The form begins here -->
            <form method="post" class="text-center">
                <img src="https://img.freepik.com/free-vector/two-factor-authentication-concept-illustration_114360-5280.jpg?w=1060&t=st=1708528935~exp=1708529535~hmac=ed18936ad7898ec9142cc158e2cca393a63b681b8d7a91f7bc1b64367fc16c65"
                     class="img-fluid mb-4" style="max-width: 200px;">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                <!-- Display the form fields here -->
                <div class="text-danger">{{ form.non_field_errors }}</div>
                <h4>Регистрация:</h4>
                {% for f in form %}
                <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}</label>{{ f }}</p>
                <div class="text-danger">{{ f.errors }}</div>
                {% endfor %}
                <button class="btn btn-outline-dark" type="submit"><i class="fas fa-door-open me-2"></i>Зарегестрироваться</button>
            </form>
            <!-- The form ends here -->
        </div>
    </div>
</div>
{% endblock %}
