<!DOCTYPE html>
{% load static %}
{% load cache %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if title %}{{title}}{% else %}iHerb Donbass{% endif %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- gLightbox gallery-->
    <link rel="stylesheet" href="{% static 'vitamins/vendor/glightbox/css/glightbox.min.css' %}">
    <!-- Range slider-->
    <link rel="stylesheet" href="{% static 'vitamins/vendor/nouislider/nouislider.min.css' %}">
    <!-- Choices CSS-->
    <link rel="stylesheet" href="{% static 'vitamins/vendor/choices.js/public/assets/styles/choices.min.css' %}">
    <!-- Swiper slider-->
    <link rel="stylesheet" href="{% static 'vitamins/vendor/swiper/swiper-bundle.min.css' %}">
    <!-- Google fonts-->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&amp;display=swap">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;800&amp;display=swap">
<!--     theme stylesheet-->
    <link rel="stylesheet" href="{% static 'vitamins/css/style.green.css' %}" id="theme-stylesheet">
<!--     Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static 'vitamins/css/custom.css' %}">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/media/img/favicon.ico">
</head>
<body>
<div class="page-holder">
    <!-- navbar-->
    <header class="header bg-white">
        <div class="container px-lg-3">
            <nav class="navbar navbar-expand-lg navbar-light py-3 px-lg-0"><a class="navbar-brand"
                                                                              href="{% url 'home' %}"><span
                    class="fw-bold text-uppercase text-dark">iHerb-Donbass</span></a>
                <button class="navbar-toggler navbar-toggler-end" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <!-- Link--><a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" href="{% url 'home' %}">Главная</a>
                        </li>
                        <li class="nav-item">
                            <!-- Link--><a class="nav-link {% if request.resolver_match.url_name == 'shop' and not current_filters.discount %}active{% endif %}" href="{% url 'shop' %}">Магазин</a>
                        </li>
                        <li class="nav-item">
                            <!-- Link--><a class="nav-link {% if request.resolver_match.url_name == 'shop' and current_filters.discount %}active{% endif %}" href="{% url 'shop' %}?discount=True">Суперцена!</a>
                        </li>
                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="pagesDropdown" href="#"
                                                         data-bs-toggle="dropdown" aria-haspopup="true"
                                                         aria-expanded="false">Бренды</a>
                            <div class="dropdown-menu mt-3 shadow-sm" aria-labelledby="pagesDropdown">
                                {% cache 500 upbar %}
                                {% for brand in brands %}
                                <a class="dropdown-item border-0 transition-link"
                                   href="{% url 'shop' %}?brand={{ brand.slug }}">{{ brand.name }}</a>
                                {% endfor %}
                                {% endcache %}
                            </div>
                        </li>
                        <li class="nav-item">
                            <!-- Link--><a class="nav-link {% if request.resolver_match.url_name == 'request_for_delivery' %}active{% endif %}" href="{% url 'request_for_delivery' %}">Заявка на заказ</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <!-- Link--><a class="nav-link {% if request.resolver_match.url_name == 'shop' %}active{% endif %}" href="{% url 'contacts' %}">Контакты</a>
                        </li>
                        <li class="nav-item"><a class="nav-link {% if request.resolver_match.url_name == 'cart_detail' %}active{% endif %}" href="{% url 'cart:cart_detail' %}">
                            <i class="fas fa-dolly-flatbed me-1 text-gray"></i>Корзина<small
                                class="text-gray fw-normal">({% if cart_items_count %}{{ cart_items_count }}{% else %}0{% endif %})</small></a>
                        </li>
                        <li class="nav-item"><a class="nav-link {% if request.resolver_match.url_name == 'preorder_cart_detail' %}active{% endif %}" href="{% url 'preorders:preorder_cart_detail' %}">
                            <i class="far fa-heart me-1"></i>Предзаказ<small
                                class="text-gray fw-normal"> ({% if preorder_cart_items_count is not None %}{{ preorder_cart_items_count }}{% else %}0{% endif %})</small></a></li>
                        {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link {% if request.resolver_match.url_name == 'profile' %}active{% endif %}" href="{% url 'users:profile' %}"> <i
                                class="fas fa-user me-1 text-gray fw-normal"></i>{{ user.username }}</a></li>
                        <li class="nav-item">
                            <form id="logout-form" action="{% url 'users:logout' %}" method="post" style="display: none;">
                            {% csrf_token %}
                            </form>
                            <a class="nav-link" href="{% url 'users:logout' %}"
                               onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Выйти</a></li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'users:login' %}"> <i
                                class="fas fa-user me-1 text-gray fw-normal"></i>Войти</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </header>


        {% block content %}{% endblock %}

    <!-- SERVICES-->
    <section class="py-5 bg-light">
        <div class="container">
            <div class="row text-center gy-3">
                <div class="col-lg-4">
                    <div class="d-inline-block">
                        <div class="d-flex align-items-end">
                            <svg class="svg-icon svg-icon-big svg-icon-light">
                                <use xlink:href="#delivery-time-1"></use>
                            </svg>
                            <div class="text-start ms-3">
                                <h6 class="text-uppercase mb-1">Доставка только из США</h6>
                                <p class="text-sm mb-0 text-muted">Везем только из США с сайта iHerb.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="d-inline-block">
                        <div class="d-flex align-items-end">
                            <svg class="svg-icon svg-icon-big svg-icon-light">
                                <use xlink:href="#helpline-24h-1"></use>
                            </svg>
                            <div class="text-start ms-3">
                                <h6 class="text-uppercase mb-1">24 x 7 сервис</h6>
                                <p class="text-sm mb-0 text-muted">Мы на связи 24 x 7</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="d-inline-block">
                        <div class="d-flex align-items-end">
                            <svg class="svg-icon svg-icon-big svg-icon-light">
                                <use xlink:href="#label-tag-1"></use>
                            </svg>
                            <div class="text-start ms-3">
                                <h6 class="text-uppercase mb-1">У нас только оригинал</h6>
                                <p class="text-sm mb-0 text-muted">Предоставим все инвойсы для подтверждения</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
<footer class="bg-dark text-white">
    <div class="container py-4">
        <div class="row py-5">
            <div class="col-md-4 text-center">
                <h6 class="text-uppercase mb-3">Наши социальные сети</h6>
                <ul class="list-unstyled mb-0">
                    <li><a class="footer-link" href="https://t.me/herbdonbass">Telegram</a></li>
                    <li><a class="footer-link" href="https://www.instagram.com/herb.donbass/">Instagram</a></li>
                    <li><a class="footer-link" href="https://www.vk.com/public210895682">Вконтакте</a></li>
                </ul>
            </div>
        </div>
        <div class="border-top pt-4" style="border-color: #1d1d1d !important">
            <div class="row">
                <div class="col-md-6 text-center text-md-start">
                    <p class="small text-muted mb-0">&copy; 2021 All rights reserved.</p>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <p class="small text-muted mb-0">Template designed by <a class="text-white reset-anchor"
                                                                             href="https://bootstrapious.com/p/boutique-bootstrap-e-commerce-template">Bootstrapious</a>
                    </p>
                    <!-- If you want to remove the backlink, please purchase the Attribution-Free License. See details in readme.txt or license.txt. Thanks!-->
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- JavaScript files-->
<script src="{% static 'vitamins/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vitamins/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'vitamins/vendor/nouislider/nouislider.min.js' %}"></script>
<script src="{% static 'vitamins/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'vitamins/vendor/choices.js/public/assets/scripts/choices.min.js' %}"></script>
<script src="{% static 'vitamins/js/front.js' %}"></script>
<script>
        // ------------------------------------------------------- //
        //   Inject SVG Sprite -
        //   see more here
        //   https://css-tricks.com/ajaxing-svg-sprite/
        // ------------------------------------------------------ //
        function injectSvgSprite(path) {

            var ajax = new XMLHttpRequest();
            ajax.open("GET", path, true);
            ajax.send();
            ajax.onload = function(e) {
            var div = document.createElement("div");
            div.className = 'd-none';
            div.innerHTML = ajax.responseText;
            document.body.insertBefore(div, document.body.childNodes[0]);
            }
        }
        // this is set to BootstrapTemple website as you cannot
        // inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
        // while using file:// protocol
        // pls don't forget to change to your domain :)
        injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg');





</script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const promoCodeInput = document.getElementById('promo_code_input');
    const applyPromoBtn = document.getElementById('apply_promo_btn');

    promoCodeInput.addEventListener('input', function() {
        // Проверяем, не пустое ли значение в поле
        if (promoCodeInput.value.trim() !== '') {
            applyPromoBtn.disabled = false; // Активируем кнопку
        } else {
            applyPromoBtn.disabled = true;  // Деактивируем кнопку
        }
    });
});
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

</body>
</html>